<template lang="html">
  <h2>Bay Chiropractic at Number 11</h2>
  <p>Bay Chiropractic with chiropractor Dr David Wilkes MChiro, DC (Doctor of Chiropractic), is now based at  Number 11.</p>
  <p>For further details please go to: www.baychiro.co.uk</p>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
