<template lang="html">
  <h2>UNDERSTANDING AND WORKING WITH ANGELS</h2>
  <p>A one day workshop with Julie Neame</p>
  <p>Angels –</p>
  <p>Who are they? What are they? What is their connection with us?</p>
  <p>This one day workshop will help you to: understand the different levels of Angels; how to work with them; and how to connect with your Guardian Angel through meditation and creativity.</p>
  <p>10.00AM to 4.00PM. Fee: £25.</p>
  <p>Booking essential. Contact us here</p>
  <p>Sunday 17th May</p>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
