<template lang="html">
  <h2>REIKI SHARE GROUP</h2>
  <p>This group meets the last Friday of every month</p>
  <p>7.30 to 9.00pm. Fee: donation towards room rent.</p>
  <p>For details please contact James 0789 052 4036 (leave a message if no reply)</p>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
