<template lang="html">
  <h2>SELF-HEALING CLASSES with Graham Davies</h2>
  <p>This is a four week ongoing course based on more than twenty self-healing exercises from Paul Lambillion’s acclaimed book ‘How to Heal and be Healed’.</p>
  <p>Mondays 10.30-11.30am each week Fee – £30 for each 4 week course</p>
  <p>Starting date to be confirmed</p>
  <p>PLEASE NOTE: This will be a small group so that Graham may focus on each participant’s progress with the exercises. Places must be booked and paid for in advance.</p>
  <p>Contact us today for more information or to book</p>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
