<template lang="html">
  <p>‘SELF-MASTERY: DREAMS, VISIONS, POWER AND LOVE’ – part 1</p>
  <p>A one-day workshop with Paul Lambillion (www.paullambillion.co.uk)</p>
  <p>18th April</p>
  <p>In this workshop Paul brings together many of the key elements from the teaching he has given over the last 30 or more years and, along with new insights he has gained more recently, offers a programme of tools, strategies and practices for greater self-realisation and mastery. much of it is simple, perhaps obvious; much is not. It is all based on Paul’s own experience, successes and failures (which are perhaps the greatest teachers) and his perception of auras, energies, fields of potential and thought forms.</p>
  <p>The course will be a mixture of lectures, meditation and observing exercises, and personal experimentation in the quest for a deepening understanding, greater empowerment and the first steps to more conscious empowered living.</p>
  <p>10.00AM to 4.30PM. Fee: £40.</p>
  <p>Booking essential. Only a few places left as at 24 March.</p>
  <p>Paul will also be available for appointments for aura or trance readings on Thursday 16 April.</p>
  <p>Cost: £50 for 50 minutes. All appointments are now booked but please contact us if you wish to go on our waiting list for cancellations.</p>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
