<template>
<v-app>

  <div class="content">
    <main>

      <h2>About Us</h2>

      <p>Number 11 evolved from the Herne Bay Healing Centre, which was setup in the early 1990s by Graham Davies, a healer and therapist.</p>
      <p>With over 30 years involvement in healing and complementary therapies, he encourages and helps people to help themselves in their quest for self awareness and change.</p>
    </main>

    <aside>
      <app-post></app-post>
    </aside>
  </div>
</v-app>
</template>

<script>
import posts from './posts.vue'
export default {
  components: {
    'app-post': posts
  }
}
</script>

<style lang="scss" scoped>
@import "../style";

</style>
