<template>
  <v-app id="">
        <!-- <form v-if="!this.$store.state.loggedIn">
          <div class="form-group">
          <input class="form-control" v-model="credential.username">
          <input type="password" class="form-control" v-model="credential.password">
          <v-btn type="button" class="btn btn-default" @click="login()">Login</v-btn>
        </div>
      </form> -->
      <!-- <div v-else> -->
      <!-- <quill-editor v-model="home"
                    ref="myQuillEditor"
                    :options="editorOption"
                    @blur="onEditorBlur($event)"
                    @focus="onEditorFocus($event)"
                    @ready="onEditorReady($event)">
      </quill-editor>
      <v-btn type="button" @click="setHome">Update</v-btn> -->
      <!-- <div id="editor1"></div> -->

      <div id="editor">

        <vue-editor id="editor1" v-model="home" :editorToolbar="customToolbar"></vue-editor>
        <v-btn type="button" @click="setHome">Update</v-btn>
        <vue-editor id="editor2" v-model="paul"></vue-editor>
        <v-btn type="button" @click="setPaul">Update</v-btn>
      </div>
  </v-app>
</template>
<script>
// import Quill from 'quill'
// import { yourQuillModule } from '../yourModulePath/yourQuillModule.js'
// Quill.register('modules/yourQuillModule', yourQuillModule);
// import { quillEditor } from 'vue-quill-editor'

// import VueEditor from 'vueditor';
import { VueEditor } from 'vue2-editor'
export default {

  name: "vue",
  // data: () => ({
  //
  // }),
  components: {
    VueEditor
  },
  data() {
    return {
        loggedIn: false,
        home: '',
        paul: '',
        url: '',
        content: '<h3>Some initial content</h3>',
        customToolbar: [
            ['bold', 'italic', 'underline', 'strike', 'image',"blockquote","code-block"],
            [{color:[]},{background:[]}],[{align:[]}],["clean"],
            // [{'font': '120px'}],
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],

          ], //'image', 'code-block'
        credential : {
          username: '', password: ''
        }
    }
  },
  methods: {
    onEditorBlur(editor) {
      console.log('editor blur!', editor)
    },
    onEditorFocus(editor) {
      console.log('editor focus!', editor)
    },
    onEditorReady(editor) {
      console.log('editor ready!', editor)
    },
    onEditorChange({ editor, html, text }) {
      console.log('editor change!', editor, html, text)
      this.content = html
    },
    getHome() {
      this.$http.get(this.url + '_links/home').then(function(data){
        // console.log(data.body);
        this.home = data.body[2];
        console.log(this.home);
      });
    },
    setHome() {
      this.$http.post(this.url + '_links/update_home', {home:this.home}).then(function(data){
        console.log(data.body);
        // console.log(this.home);
      });
    },
    setPaul() {
      this.$http.post(this.url + '_links/update_paul', {paul:this.paul}).then(function(data){
        console.log(data.body);
        // console.log(this.home);
      });
    },
    getPaul() {
      this.$http.get(this.url + '_links/paul').then(function(data){
        // console.log(data.body);
        this.paul = data.body[2];
        console.log(this.paul);
      });
    },
    login() {
      this.$store.state.loggedIn = true;
      console.log(this.$store.state.loggedIn);
      // this.$http.post(this.url + 'login', this.credential).then(function(data){
      //   console.log(data.body);
      //   if(data.bodyText == 'Login OK.') {
      //     // console.log('Login OK.');
      //     this.$store.state.loggedIn = true;
      //   }
      // });
    }
  },
  computed: {
    editor() {
      return this.$refs.myQuillEditor.quill
    }
  },
  created() {
    this.url = location.hostname == 'https://nazs.net' ? '' : 'http://11.1.1.11/therapy/';
    this.getHome();
    this.getPaul();
  }
}
</script>
<style lang="scss" scoped>
@import '../style';

#editor {
  width: 90%;
  margin: 10px auto;
}
#editor1, #editor2 {
  height: 450px;
}
// @import '../../node_modules/vue-wysiwyg/dist/vueWysiwyg.css';
// @import '../../node_modules/vueditor/dist/style/vueditor.min.css';
form {
  width: 90%;
  margin: 20px auto;
}
textarea#area5 {
  // margin: 10px auto;
  // border: 1px solid #ccc;
  overflow: visible;
  display: block;
}
</style>
