<template>
  <v-app>

  <div class="content">
    <main>
      <img src="http://www.number11therapycentre.co.uk/wp-content/uploads/2015/03/IMG_6547-300x225.jpg" alt="">
      <!-- <section> -->
        <h2>Contact Us</h2>

          <p>Number 11 Therapy Centre</p>
          <p>11 Mickleburgh Hill</p>
          <p>Herne Bay</p>
          <p>CT6 6AA</p>
          <p>Telephone and Fax 01227 360294</p>

          <p>Your Name (required)</p>
          <input type="text" class="form-control" name="" value="">

          <p>Your Email (required)</p>
          <input type="text"  class="form-control"name="" value="">

          <p>Subject</p>
          <input type="text"  class="form-control"name="" value="">

          <p>Your Message</p>
          <textarea name="" class="form-control" rows="5"></textarea>
      <!-- </section> -->
      </main>
    <aside>
      <app-post></app-post>
    </aside>
  </div>
  </v-app>

</template>

<script>
import posts from './posts.vue'
export default {
  components:  {
    'app-post': posts
  },
    created() {
    // document.getElementById("myTopnav").className = "topnav";
  }
}
</script>

<style lang="scss" scoped>
@import "../style";

img {
  border-radius: 10px;
  width: 300px;
  float: right;
}

@media screen and (max-width: 470px) {
  img {
    float: none;
    width: 200px;
  }
}
</style>
