<template>
<v-app>
  <div class="content">
    <main>
      <div class="" v-for="article in articles">
        <div class="" v-if="article.title == id">
          <h4> {{ article.title | reverseSnippet }}</h4>
          <div class="" v-html="$options.filters.lineBreak(article.body)">
          </div>
        </div>
      </div>
    </main>

    <aside>
      <app-post></app-post>
    </aside>
  </div>
</v-app>
</template>

<script>
import posts from './posts.vue'
export default {
  data() {
    return {
      articles: [],
      id: this.$route.params.title,
      headers: [],
      message: ''
    }
  },
  components: {
    'app-post': posts
  },
  watch: {
    '$route' (to, from) {
      this.setMessage();
      this.callPage();
    }
  },
  methods: {
    setMessage() {
      // this.message = 'Bar ' + this.$route.params.id;
      this.title = this.$route.params.title;
    },
    callPage() {
      var url = location.hostname == 'https://nazs.net' ? '' : 'http://localhost/therapy/';
      this.$http.get(url + '_links/posts2').then(function(data){
        // console.log(data.body);
        this.articles = data.body;
        this.articles.forEach(article => {
          article.title = article.title.replace(/,/g, "").replace(/'/g, "").replace(/ /g, "-").replace(':', '').toLowerCase();
          // console.log(article.title);
        })
      });
    }
  },
  created() {
    this.callPage();
  }
}
</script>

<style lang="scss" scoped>
@import "../style";

</style>
