<template>
  <div>
    <!-- <footer> -->
    <div v-html="footer"></div>
    <!-- </footer> -->
  </div>
</template>

<script>
// import starters from './menus.vue'

export default {
  components: {
  },
  data () {
    return {
        // items: items
        footer: '&#169; '
    }
  },
  methods: {

  },
  created() {
    let url = location.hostname == 'https://nazs.net' ? '' : 'http://11.1.1.11/therapy/';
    this.$http.get(url + '_links/footer').then(function(data){
      // console.log(data.body);
      this.footer = this.footer + data.body[2];
    });
  }
}
</script>

<style lang="scss" scoped>

</style>
