<template>
  <!-- <div id="nav"> -->
    <nav>
      <div id="banner">
          <img src="../assets/logo.png" alt="">
          <a href="#" class="icon" @click="myFunction()">&#9776;</a>
      </div>
      <div class="topnav" id="myTopnav">
        <router-link to="/" exact><a @click="myFunction()">Home</a></router-link>
        <router-link to="/about" exact><a @click="myFunction()">About Us</a></router-link>
        <router-link to="/therapies" exact><a @click="myFunction()">Therapies</a></router-link>
        <router-link to="/contact" exact><a @click="myFunction()">Contact Us</a></router-link>
        <router-link to="/admin" exact><a @click="myFunction()">Admin</a></router-link>
        <!-- <a href="#"  class="icon" @click="myFunction()">&#9776;</a> -->
      </div>
    </nav>
  <!-- </div> -->
</template>

<script>
export default {
  data() {
    return {
      showMenu: false
    }
  },
  methods: {
      hideMenu() {
        this.showMenu = false;
      },
      myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
        // console.log('hi');
      }

  },
  created() {
          // document.getElementById("myTopnav").className = "topnav";
          // this.myFunction();

  },
  mounted() {
    // alert('hi from main');
    // console.log('hi');
    document.getElementById("myTopnav").className = "topnav";
  }
}

</script>

<style lang="scss" scoped>
@import "../style";
body {margin:0;}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  overflow: hidden;
  clear: both;
  background: #fff;
  border-bottom: 1px solid red;
  // padding-bottom: 40px;
}

#banner, .topnav { display: block;
  // position: relative;
  .icon {
    display: none;
  }
}

#banner img {width: 400px}

a {
  text-decoration: none;
}

.topnav {
  overflow: hidden;
  // background-color: #BBD5ED;
  margin-bottom: 10px;
  text-align: right;
  // float: right;
}



.topnav  a a {
  background-color: #BBD5ED;
  // float: left;
  // text-align: left;
  display: inline;
  // color: #f2f2f2;
  color: $banner;
  text-align: center;
  text-decoration: none;
  // padding: 14px 16px;
  padding: 25px 10px;
  margin-left: -5px;
  // font-size: 17px;
}

.topnav a a:hover {
  background-color: darken(lightblue, 50);
  // background-color: red;
  color: #fff;
  // padding: 20px 20px 20px 10px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 748px) {
  // .topnav a:not(:first-child) {display: none;}
  #banner .icon {
    display: inline;
    float: right;
    position: relative;
    top: 30px;
    font-size: 25px;
  }
  .topnav a {display: none;}
  .topnav a a {
    padding: 12px 16px;
    float: left;
  }
  .topnav  a.icon {
    font-size: 25px;
    // line-height: 35px;
    padding: 3px;
    float: right;
    display: block;
    color: $banner;
    &:hover {
      color: #fff;
    }
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    // right: 0;
    // top: 0;
  }
  .topnav {
    background-color: #BBD5ED;

  }
  .topnav.responsive  a {
    float: none;
    display: block;
    text-align: left;
  }
}


@include breakpoint(min-width 749px){

  nav {
    max-width: 960px;
    margin: 0 auto;
    height: 65px;
    // overflow: hidden;
  }
  #banner {
    @include span(7);
    line-height: 40px
  }
  .topnav {
    @include span(5);
    line-height: 5em;
  }

}

h2 {
  border-bottom: thick double #ff0000;
}

a.router-link-exact-active a  {
  color: #fff;
  background: lighten($banner, 20);
  // border-top: 10px solid blue;

}
a {
  color: gray;
  @include transition(color .1s ease);
  &:hover {
    color: black;
  }
}
</style>
