<template>
  <div>
    <div id="brand">
      LOGO
    </div>
    <div class="topnav" id="myTopnav">
      <router-link to="/" exact>Home</router-link>
      <router-link to="/about" exact>About Us</router-link>
      <router-link to="/therapies" exact>Therapies</router-link>
      <router-link to="/contact" exact>Contact Us</router-link>
      <a href="#" style="font-size:15px;" class="icon" @click="myFunction()">&#9776;</a>
    </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      showMenu: false
    }
  },
  methods: {
      hideMenu() {
        this.showMenu = false;
      },
      myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
        // console.log('hi');
      }

  },
  created() {
          // document.getElementById("myTopnav").className = "topnav";
          // this.myFunction();

  },
  mounted() {
    // alert('hi from main');
    // console.log('hi');
    document.getElementById("myTopnav").className = "topnav";
  }
}

</script>

<style lang="scss" scoped>
@import "../style";

#brand {
  width: auto;
  background: #BBD5ED;
  padding: 14px 16px;
}

body {margin:0;}



.topnav {
  // float: right;
  // position: absolute;
  // top: 0; right: 0;
  // width: 70%;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 10px;
}

.topnav  a {
  float: left;
  display: block;
  // color: #f2f2f2;
  color: $banner;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
}

.topnav  a:hover {
  background-color: darken(lightblue, 50);
  color: #fff;
}

.topnav .icon {
  display: none;
}

@include breakpoint (min-width 621px) {

}

@include breakpoint((max-width 620px)) {
// @media screen and (max-width: 620px) {
  .topnav { float: left; clear: both; width: 100%; position: fixed;top: 0}
  .topnav  a:not(:first-child) {display: none;}
  .topnav  a.icon {
    float: right;
    display: block;
  }
}

@include breakpoint((max-width 620px)) {
// @media screen and (max-width: 620px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive  a {
    float: none;
    display: block;
    text-align: left;
  }
}

a.router-link-exact-active  {
  color: #fff;
  background: lighten($banner, 20);
}
a {
  color: gray;
  @include transition(color .8s ease);
  &:hover {
    color: black;
  }
}
</style>
