<template>
  <v-app>
    <!-- <div v-html="$options.filters.lineBreak(home)"></div>
    <div v-html="$options.filters.lineBreak(paul)"></div> -->
    <div class="landing">
      <!-- <h4 class="animated pulse">Welcome to Number 11</h4> -->
      <div id="home">
        <h3 class="animated pulse">Welcome to our website!</h3>
        <div v-html="$options.filters.lineBreak(home)"></div>
        <!-- <p>more content below</p> -->
      </div>
    </div>



  <section></section>
   <template>
    <v-parallax src="/static/harmony2e.jpg" height="450">
        <div id="paul" v-html="$options.filters.lineBreak(paul)"></div>
    </v-parallax>
  </template>

</v-app>
</template>

<script>
export default {
  data() {
    return {
        url: '',
        home: '',
        paul: ''
    }
  },
  methods:  {
    getWelcome() {
      this.$http.get(this.url + '_links/home').then(function(data){
        // console.log(data.bodyText);
        this.home = data.body[2];
      });
    },
    getPaul() {
      this.$http.get(this.url + '_links/paul').then(function(data){
        // console.log(data.bodyText);
        this.paul = data.body[2];
      });
    }
  },
  created() {
    this.url = location.hostname == 'https://nazs.net' ? '' : 'http://11.1.1.11/therapy/';
    this.getWelcome();
    this.getPaul();
  }
}
</script>

<style lang="scss" scoped>
@import "../style";
$col1: #fff;
$col2: #000;
$col1: #000;
$col2: #fff;

ul {
  margin-left: -10px;
  @include breakpoint(600px) {
    width: 60%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
  }
  li {
    // background-color: rgba(0,0,0,0.5);
    margin-left: -5px;
    color: $col1;
    text-shadow: -1px 0 $col2, 0 1px $col2, 1px 0 $col2, 0 -1px $col2;
  }
}
p {
  // float: right;
  padding-right: 5px;
  font-size: 1em;
  font-style: italic;
}

// h2 {
//   margin-top: 2.5em;
//   clear: both;
//   display: block;
// }
//
// @include breakpoint(min-width 621px) {
//   h2 {
//     margin-top: 2.5em;
//   }
// }

</style>
