<template>
  <div>
    <h2>Welcome to our website! We offer the following complementary therapies:</h2>
    <p>Graham Davies:</p>
    <ul>
      <li>Healer Member of the International Healing Fellowship</li>
      <li>Diploma in Advanced Counselling Skills</li>
      <li>Diploma in Indian Head Massage</li>
      <li>Certificate in Life Coaching</li>
    </ul>
    <ul>
      <li>HEALING</li>
      <li>MEDITATION</li>
      <li>GUIDANCE</li>
      <li>COUNSELLING</li>
      <li>INDIAN HEAD MASSAGE</li>
    </ul>


    <h3>New workshop for 2017:</h3>
    <p>‘Self-Mastery 3’ – Harmony, Freedom & Miracles – a one-day workshop with Paul Lambillion</p>
    <p>Saturday 29 April 2017   10.30am – 4.45pm   Fee: £50 including tea and biscuits</p>

    <p>Self-Mastery is a path of self-realisation whereby all the levels of the human being become increasingly aligned allowing the best possible unfoldment of the individual’s life and experience. It is a way of healing based on Love, Wisdom and Understanding.</p>
    <p>‘One person with only love in their heart could do more to right the problems of the world than all the people who are actively trying to fix it’ – Lester Levenson.</p>

    <p>Whilst revisiting some of the processes and principles from earlier courses, the main themes for this day are –</p>
    <p>FEELING AND THE HUMAN ENERGY FIELD (AURA) – Learning how to be aware of the different types of feeling sensations that emerge within us when we think (active thoughts), and how we can begin to recognise them, accept them and release them as is appropriate.</p>
    <p>HEALING RELATIONSHIPS – A comprehensive and simple clearing and release method which works magically to heal all relationships by focussing on themes of CONTROL, APPROVAL AND SECURITY which are linked to our three primal human fears.</p>
    <p>CLEARING THE ILLUSION of the idea of ‘inside’ and ‘outside’ and establish the essential ‘ONEMESS’ of reality.</p>
    <p>THE INNER CHILD OR SUBCONSCIOUS – How it works, the language it understands and how we can co-operate with it consciously.</p>
    <p>KARMA, CAUSE AND EFFECT and the need for complete clearing of old patterns before we can ‘move on’ to new situations. We will also consider Revision, Forgiveness and INNER DIALOGUE and TIME LINES.</p>
    <p>Other ideas will be considered as time permits, such as, IMAGINATION, MEMORY or INSPIRATION and HARMLESSNESS, THE POWER of RELAXED INTENTION, WANTS and DESIRES.</p>
    <p>The course, a day of true magical possibilities, is open to all who would like to attend and includes teaching, meditation and other exercises, with examples of how these processes work and have worked for others to create a better and more flowing and fulfilling life. So come with an open heart and a willingness to clear, let go of the old patterns and make space for the wonderful new to emerge.</p>
    <p>Please bring lunch with you, or there are shops nearby to buy sandwiches or snacks. Do come and join us, we look forward to seeing you.</p>
    <p>Booking essential – please contact Graham Davies: Tel: 01227 360294   email: dimensions@btinternet.com</p>

    <p>**Those currently undergoing treatment for serious mental or emotional illness may find the mental exercises in the course difficult and should take appropriate medical advice before attending. Whilst doing all possible to make students safe and comfortable on all our courses, we remind students that they are responsible for their own well-being on the day.</p>
    <p>Whilst we do our utmost to ensure all courses go ahead as published, we reserve the right to make changes as are sometimes necessary and all courses are subject to adequate subscription. We can accept no financial responsibility in the event of cancellation for other costs incurred by students. Should we cancel or postpone a course, any prepayment is refunded in full.</p>

    <p>Number 11, 11 Mickleburgh Hill, Herne Bay, Kent CT6 6AA</p>
    <p>Tel/Fax: 01227 360294   email: dimensions@btinternet.</p>
  </div>

</template>

<script>
export default {
  created() {
    document.getElementById("myTopnav").className = "topnav";
  }
}
</script>

<style lang="scss" scoped>
@import "../style";

// h2 {
//   margin-top: 2.5em;
//   clear: both;
//   display: block;
// }
//
// @include breakpoint(min-width 621px) {
//   h2 {
//     margin-top: 2.5em;
//   }
// }

</style>
