<template>
  <v-app>
    <!-- {{ this.$route.query.page }} -->
    <input type="text" class="form-control" v-model="search" placeholder="search">
    <div class="links">
      <!-- <a :href="post.id" v-for="post in posts"> <p>{{ post.name }}</p></a> -->
      <router-link :to="'/routes/' + post.title | snippet" v-for="(post,i) in filteredPosts" :key="i" exact>{{ post.title }}</router-link>
      <!-- <a v-link :to="`/eachPost/${post.p_id}`" v-for="(post,i) in posts" :key="i">{{ post.header }}</a> -->
    </div>
  </v-app>
</template>
<script>
export default {
  data() {
    return {
      posts: [],
      search: ''
    }
  },
  created() {
    var url = location.hostname == 'https://nazs.net' ? '' : 'http://11.1.1.11/therapy/';
    // var t = this.$store.state;
    // console.log('host: ' + t.url);
    this.$http.get(url + '_links/posts2').then(function(data) {
      this.posts = data.body;
      // console.log(this.posts);
    });
  },
  computed: {
    filteredPosts: function() {
      return this.posts.filter((post) => {
        return post.title.toLowerCase().match(this.search.toLowerCase()) || post.body.toLowerCase().match(this.search.toLowerCase()) ;
      });
    }
  }
}
</script>
<style lang="scss" scoped>
@import "../style";

.links {
  margin: 30px 0 20px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // align-content: center;
  // justify-content: center;
  a {
    // flex-direction: column;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    color: #333;
    font-size: 1.2em;
    p {
      margin: auto 0;
    }
    &:nth-child(4) {
      // background-color: red;
      border-bottom: 0px solid;
    }
    &:first-child {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
    }
    &:last-child {
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-top: 1px solid #ccc;
    }
    &:first-child, &:last-child {
    }
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: block;
    text-decoration: none;
    // height: 90px;
    // background-color: #ccc;
    padding: 30px;
    margin: 0;
    cursor: pointer;
    &:hover {
      background-color: #ccc;
      // color: #fff;
      transition: background-color .5s;
    }
  }
}
</style>
