<template>
  <div id="">

  </div>
</template>
<script>
export default {
  // name: "",
  // data: () => ({
  //
  // }),
  created() {
    this.$router.push("/eachPost/" + this.$route.params.title);
    // this.$router.push({ path: "/eachPost/" + this.$route.params.id});
    // console.log(this.$route.params.id);
  }
}
</script>
<style lang="scss" scoped>
</style>
