<template>
  <v-app>
   <div class="content">
      <main>
        <h2>Therapies</h2>
        Click on a therapy for more details.
        <template>
          <v-expansion-panel expand>
            <v-expansion-panel-content v-for="(header,i) in headers" :key="i">
              <div slot="header">{{ header }}</div>
              <v-card>
                <template v-for="each in therapies">
                <v-card-text v-if="each.title == header" class="grey lighten-3"
                v-html="$options.filters.lineBreak(each.body)"
                >
                </v-card-text>
                </template>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </template>
      </main>
      <aside>
        <app-post></app-post>
      </aside>
    </div>
  </v-app>
</template>

<script>
import posts from './posts.vue'
export default {
  components : {
    'app-post': posts
  },
  data() {
    return {
      therapies: [
        {
          "title": 'new title one', "body": ["body one 1", 'body one 2', 'body one 3']
        },
        {
          "title": 'second title', "body": ['second body 1', 'second body 2', 'second body 3']
        }
      ],
      headers: []
    }
  },
  created() {
    var url = location.hostname == 'https://nazs.net' ? '' : 'http://11.1.1.11/therapy/';
    // this.$http.get('http://nazs.net/GNS3/therapies.json').then(function(data){
    this.$http.get(url + '_links/therapies2').then(function(data){
      // console.log(data.bodyText);
      var head = [];
      this.therapies = data.body;
      // console.log(this.therapies);
    });

    this.$http.get(url + '_links/headers2').then(function(data){
      this.headers = data.body;
      // console.log(this.headers);
    });
  }
}
</script>

<style lang="scss" scoped>
@import "../style";

</style>
