<template>
  <v-app id="app">
    <div class="wrapper">
      <nav >
        <ul :class="{ responsive : show }" @mouseOut="show = false">
          <!-- <li>Home</li>
          <li>About Us</li>
          <li>Therapies</li>
          <li>Contact Us</li> -->
        <li @click="show = false">
          <router-link to="/" exact>Home</router-link>
        </li>
        <li @click="show = false">
          <router-link to="/aboutus" exact>About Us</router-link>
        </li>
        <li @click="show = false">
          <router-link to="/therapies" exact>Therapies</router-link>
        </li>
        <li @click="show = false">
          <router-link to="/contactus"  exact>Contact Us</router-link>
        </li>
        <li @click="show = false">
          <router-link to="/admin"  exact>Admin</router-link>
        </li>
        <li class="icon2" ><a href="#" @click="show = !show">&#10070;</a></li>
      </ul>
      </nav>

      <router-view></router-view>
    <!--<template>
      <v-parallax src="/static/meditate.jpg">
      </v-parallax>
    </template> -->
    <!-- <div id="banner">Number 11 Therapy Centre</div> -->
    <!-- <div class="wrapper">

        <app-header></app-header>
        <main>
            <router-view></router-view>
          </main>
        <aside>
          <p>Test</p>
        </aside>

    </div> -->
  </div>
        <footer>
          <app-footer></app-footer>
        </footer>

  </v-app>
</template>

<script>
import home from './components/home'
import about from './components/about'
import therapies from './components/therapies'
import contact from './components/contact'
import header from './components/header'
import footer from './components/footer'

export default {
  name: 'app',
  data () {
    return {
      show: false
    }
  },
  components : {
    'app-home': home,
    'app-about': about,
    'app-therapies': therapies,
    'app-contact': contact,
    'app-header': header,
    'app-footer': footer
  },
  created() {
  // var x = document.getElementById("myTopnav");
  // if (x.className === "topnav") {
  //     x.className += " responsive";
  // } else {
  //     x.className = "topnav";
  // }
}
}
</script>

<style lang="scss">
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css");
@import '../node_modules/vuetify/dist/vuetify.min.css';
@import 'animate.css';
@import "style";
html, body, #app {
  height: 100%;
  color: #000;
}
#app {
  display: flex;
  flex-direction: column;
}
nav {
  background-color: #333;
  a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    &:hover {
      background-color: #666;
      color: #fff;
      text-decoration: none;
      transition: background-color .3s;
    }
  }
  ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
    @media screen and (min-width: 768px) {

      // width: 50%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-end; // only applies to the main axis
      li {
        flex: 0 0 100px;
        // width: 70px;
        &:last-child {
          display: none;
        }
      }
    }
    li {
        // display: none;
        @media screen and (max-width: 767px) {
          display: none;
          transition: display 5s;
      }
    }
    li.icon2 {
      @media screen and (max-width: 767px) {
        display: block;
        a {
          font-size: 2.3em;
          height: 45px;
          padding: 0px 0 0px;
          // line-height: 40px;
        }
      }
    }
  }
}

.responsive {
  // position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #333;
  li {
    display: block;
    transition: display 1s;
  }
}

.wrapper {
  flex: 1 0 auto;
}
.content {
  padding: 20px 20px 0;
}
@include breakpoint(825px) {

  .content {
    // padding-top: 80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
  }
  main {
    flex: 5;
  }
  aside {
    flex: 2;
  }
  main, aside {
    padding: 0 20px;
  }
}
.links a.router-link-exact-active {
  @include exact-link;
  background-color: inherit;
  border-radius: 0px;
}
a.router-link-exact-active, a.router-link-exact-active li  {
  // default values -- $col: #fff, $bgcol: #cc
  @include exact-link;
  border-radius: 0px;
}
.animated.pulse {
  animation-duration: 4s;
}
.landing {
  #home {

      font-size: 1.5em;
      padding-left: 20px;
      padding-top: 60px;
      ul#certs {
        li {
          font-style: italic;
        }
      }
      ul {
        li {
          list-style-type: none;
        }
      }

  }
  // @include landing('/static/meditate.jpg');
  @include landing('/static/stones.jpg');
  @include breakpoint(max-width 500px) {
    background-position: left;
  }
  // background-position: left;
  h1 {
    color: rgb(100, 60, 60);
    position: absolute;
    top: 15%;
    left: 10px;
    // background-color: rgba(100,60,60,.5);
    // background-color: rgba(0,0,0,.9);
    padding: 20px;
    border-radius: 7px;
    letter-spacing: 0.3em;
    font-family: Helvetica;
    font-weight: bold;
  }
}
nav#h {
  border-bottom: 1px solid #999;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: rgba(0,0,0,.7);
  z-index: 99; // can only be used with position: fixed
  text-align: right;
  a#h {
    text-decoration: none;
    color: #fff;
    line-height: 50px;
    // margin-right: -3px;
    margin-left: -1px;
    padding: 16px 25px;
    letter-spacing: 3px;
    font-family: 'Arial Narrow';
    text-transform: uppercase;
    &:hover {
      background-color: #ccc;
      color: #000;
      text-decoration: none;
      transition: background-color .3s;
      // border-radius: 4px;
    }

  }
  @media screen and (max-width: 500px) {
    // @include breakpoint (max-width:400px) {
    text-align: left;
    height: 40px;
    a {
      line-height: 40px;
      letter-spacing: 0.1em;
      padding: 10px 8px;
    }
  }
}
section {
  height: 20px;
  background-color: rgb(75, 49, 34)
}


@include breakpoint(768px) {
// @media screen and (min-width: 768px) {
  #app {
    // background-color: lightblue;
    // max-width: 960px;
    // @include push--auto(960px);
  }

}

footer {
  div {
    padding: 10px 0;
  }
  padding-left: 20px;
  // background-color: rgb(75, 49, 34);
  background-color: rgb(75, 75, 75);
  color: #ccc;
  letter-spacing: 4px;
  border-top: 1px solid #333;
  // word-spacing: 0.3em;

}
</style>
